/* Write your CSS here */
.events-container {
  display: flex;
  height: 100%;
}
.event-item-container {
  background-color: #323f4b;
  color: #ffffff;
  width: 70%;
  padding: 10px 20px;
}
.event-item-list-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.active-event-registration-container {
  color: #64748b;
  font-size: 20px;
}
